# Ignore user-specific files and folders
config
input_data/
results/
job_reports/
processed_data/

# Ignore resource files downloaded from server
resources/genetics/hgdp_tgp_unrel_pass_filtGBMI_strictpruned_loadings.tsv
resources/genetics/hgdp_tgp_unrel_pass_filtGBMI_strictpruned_scores.tsv
resources/genetics/release_3.1.2_vcf_genomes_gnomad.genomes.v3.1.2.hgdp_1kg_subset_sample_meta.tsv.bgz
resources/genetics/references_grch37_to_grch38.over.chain.gz
