# Ignore user-specific files and folders
config
input_data/
results/
job_reports/
processed_data/

# Ignore intermediate files
# resources/genetics/easyQC_hrc_edit.ecf
# resources/genetics/easyQC_hrc_temp.ecf
# resources/genetics/easyQC_hrc_edit.ecf.out
temp_hm3snps.txt

# Ignore resource files downloaded from server and website
EasyQC_9.2.tar.gz
resources/bin/hase/data/
resources/genetics/1000g_*_p3v5.topmed_imputed.maf_0.001.r2_0.3.hg38.txt.gz
resources/genetics/topmed.GRCh38.f8wgs.pass.nodup.mac5.maf001.tab.snplist.gz